.caja1 {
  width: 300px;
  margin: auto;
  border: 5px solid blueviolet;
}
.caja2 {
  max-width: 300px;
  margin: auto;
  border: 5px solid royalblue;
}
.contenedor {
  width: 95%;
  height: 400px;
  margin: auto;
  background-color: salmon;
}
.contenedor2 {
  width: 95%;
  max-width: 800px;
  height: 400px;
  margin: auto;
  background-color: darkkhaki;
}
